.vscode/launch.json
manual/parallel-launcher/parallel-launcher.7.7.0.nupkg
manual/png-to-ico/png-to-ico.1.1.0.nupkg
manual/png-to-ico.install/png-to-ico.install.1.1.0.nupkg
manual/zelda3-launcher/zelda3-launcher.1.3.6.nupkg
manual/flips/flips.181.0.0.nupkg
manual/flips/flips.183.0.0.nupkg
manual/flips/tools/flips-windows.zip
manual/git-filter-repo/tools/git-filter-repo-2.45.0.tar.xz
manual/git-filter-repo/git-filter-repo.2.45.0.nupkg
