.vscode/launch.json
manual/parallel-launcher/parallel-launcher.7.7.0.nupkg
manual/png-to-ico/png-to-ico.1.1.0.nupkg
manual/png-to-ico.install/png-to-ico.install.1.1.0.nupkg
manual/zelda3-launcher/zelda3-launcher.1.3.6.nupkg
manual/flips/flips.181.0.0.nupkg
manual/flips/flips.183.0.0.nupkg
manual/flips/tools/flips-windows.zip
manual/git-filter-repo/tools/git-filter-repo-2.45.0.tar.xz
manual/git-filter-repo/git-filter-repo.2.45.0.nupkg
manual/zelda-classic/tools/2.53_Win_Release_2-17APRIL2019.zip
manual/zelda-classic/zelda-classic.2.53.0.nupkg
manual/pysolfc/archive/3.0.0/pysolfc.3.0.0.nupkg
manual/vpinball/tools/Main.Download.Installer.-.VPX72setup.exe
manual/vpinball/tools/VPinballX73_Minimal.zip
manual/vpinball/vpinball.10.7.3.nupkg
manual/gnubg/tools/gnubg-1_08_003-20240428-setup.exe
manual/gnubg/gnubg.1.8.3.nupkg
manual/flips/archive/181.0.0/flips-windows.zip
manual/flips/archive/181.0.0/flips.181.0.0.nupkg
manual/flips/archive/183.0.0/flips-windows.zip
manual/parallel-launcher/tools/parallel-launcher_setup_win32.exe
manual/parallel-launcher/tools/parallel-launcher_setup_win64.exe
manual/png-to-ico.install/tools/png_to_ico_setup.exe
manual/zelda3-launcher/tools/Zelda_3_Launcher_v1.3.6.0.zip
manual/othello/tools/Othello_Setup.exe
manual/Othello_Setup.exe
manual/othello/othello.1.0.0.nupkg
manual/spacecadetpinball/tools/SpaceCadetPinballx64Win.zip
manual/spacecadetpinball/tools/SpaceCadetPinballx86Win.zip
manual/spacecadetpinball/spacecadetpinball.2.1.0.nupkg
manual/spacecadetpinball/tools/SpaceCadetPinballx86WinXP.zip
manual/pysolfc/archive/PySolFC_3.0.0_setup.exe
manual/pysolfc/archive/3.0.0/PySolFC_3.0.0_setup.exe
manual/pysolfc/tools/PySolFC_3.1.0_setup.exe
manual/pysolfc/pysolfc.3.1.0.nupkg
manual/parallel-launcher/archive/7.7.0/parallel-launcher_setup_win32.exe
manual/parallel-launcher/archive/7.7.0/parallel-launcher_setup_win64.exe
manual/parallel-launcher/archive/7.7.0/parallel-launcher.7.7.0.nupkg
manual/parallel-launcher/parallel-launcher.7.8.0.nupkg
manual/parallel-launcher/tools/parallel-launcher-v7.8.0-windows32.zip
manual/parallel-launcher/tools/parallel-launcher-v7.8.0-windows64.zip
