.vscode/launch.json
manual/parallel-launcher/parallel-launcher.7.7.0.nupkg
manual/png-to-ico/png-to-ico.1.1.0.nupkg
manual/png-to-ico.install/png-to-ico.install.1.1.0.nupkg
manual/zelda3-launcher/zelda3-launcher.1.3.6.nupkg
manual/flips/flips.181.0.0.nupkg
manual/flips/flips.183.0.0.nupkg
manual/flips/tools/flips-windows.zip
manual/git-filter-repo/tools/git-filter-repo-2.45.0.tar.xz
manual/git-filter-repo/git-filter-repo.2.45.0.nupkg
manual/zelda-classic/tools/2.53_Win_Release_2-17APRIL2019.zip
manual/zelda-classic/zelda-classic.2.53.0.nupkg
manual/pysolfc/pysolfc.3.0.0.nupkg
manual/vpinball/tools/Main.Download.Installer.-.VPX72setup.exe
manual/vpinball/tools/VPinballX73_Minimal.zip
manual/vpinball/vpinball.10.7.3.nupkg
manual/gnubg/tools/gnubg-1_08_003-20240428-setup.exe
